# ---- Datos grandes ----
data/
*.csv
*.tsv
*.parquet
*.feather
*.h5
*.pkl
*.zip
*.tar
*.gz

# ---- DVC ----
.dvc/cache/
*.dvc.lock

# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# ---- Entornos ----
.env
.venv/
venv/
env/

# ---- IDEs / OS ----
.vscode/
.idea/
.DS_Store
Thumbs.db

# ---- Archivos temporales ----
*.swp
*.swo
